table.table-bordered {

    background-color: #aeaeae;
    border: 1px solid#0d0d0e;
    vertical-align: 50%;
    border-radius: 25px;
    border-style: hidden;

    box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
}

th {

    vertical-align: middle;
    font-family: "Raleway", cursive;
    font-size: 20px;
    border: 1px solid#0d0d0e;
    height: 100px;
}


h2 {

    font-family: "Raleway", cursive;

}


td{

 font-family: "Raleway", cursive;
    font-size: 20px;

}



.container {


    text-align: center;
    margin-top: 3%;
    max-width: 800px;



}





.btn.btn-primary {
    font-family: "Raleway", cursive;
    background-color: #239799;
    border-color: #10c6d3;

}



.btn-primary:hover {
    font-family: "Raleway", cursive !important;
    background-color: #0e6e75 !important;
    border-color: #10c6d3 !important;
}